{% extends 'base.html.twig' %}
{% block body %}
<div class="col-md-6">
    {{ mukadi_chart(chart) }}
</div>

<script src="{{ asset('/chart')}}/jquery.js"></script>
<script src="{{ asset('/chart')}}/Chart.bundle.min.js"></script>
<script src="{{ asset('/chart')}}/mukadi.chart.min.js"></script>
</div>

{% endblock %}



