<img>
<img width="200px;" src="C:/Users/Public/Pictures/logo.png" alt="Mon logo"><h1>INFORMATIONS</h1></img>
<h1></h1>
<h3>Lito est une plateforme pour aider les réfugiers et les orphelins.</h3>
<h3>Vous pouvez accéder à notre application web, desktop ou mobile pour nous aider.</h3>
<h3>Vous avez la possibilité de nous faire des dons de produits ou d'argent ainsi que adopter nos orphelins ou encore vous porter volontaire pour des travaux humains ou encore en offrant des logements à des réfiguiers.</h3>
<h3>Quelque soit votre aide nous vous sommes reconaissants.</h3>
<h3>Pour plus d'informations regardez notre video.</h3>
<h2>NOUS VOUS REMERCIONS D'AVANCE.</h2>
</html>
